@import '../../../variables.css';

.post {
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.title :global(.fa) {
  color: green;
}

.author {
  order: 2;
  flex-shrink: 0;
  font-size: 23px;
  float: right;
  margin: 0;
}

.info {
  font-size: 14px;
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid darkgrey;
}

.info *:not(:first-child) {
  border-left: 1px solid darkgrey;
}

.likes {
  display: inline-block;
  padding-right: 5px;
}

.date {
  padding-left: 5px;
}

.content > * {
  overflow-wrap: break-word;
}

.actionsBar {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.actionsBar li {
  display: inline-block;
  margin-right: 0.5em;
}

.actionsBar button {
  border: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  background-color: white;
}

.actionsBar button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pinned {
  border-left: 3px solid green;
}

.liked {
  color: red;
}

.editingTitle {
  width: 100%;
  outline: none;
  background-color: white;
  padding: 5px 5px 0 5px;
  font-size: 23px;
}

.editingContent {
  height: 100px;
  font-size: 18px;
}
