@import '../../variables.css';

.header {
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  padding: 0 30px;
}

/* Banner */
.banner {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.SBHSCrest {
  height: 40px;
  margin: 10px 30px 10px 0;
}

.title {
  font-size: 25px;
  color: white;
  margin: 0;
}

/* Navigation */
.navigation {
  flex-grow: 1;
}

.navigationList {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigationList a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

.navigationList a:not(.active):hover {
  color: color(white shade(5%));
}

.navigationList :global(.active) {
  color: skyblue;
}

.navigationList :global(.fa) {
  margin-right: 0.5em;
}

.navigationList :global(.fa-caret-down) {
  margin-left: 0.2em;
  margin-right: 0;
}

.userProfile {
  margin-left: auto;
}

.userProfile a {
  padding: 5px;
}

/* Dropdown */
.userProfile {
  position: relative;
}

.dropdownMenu {
  font-size: 0.9em;
  display: none;
  background-color: var(--main-blue);
  flex-direction: column;
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  width: auto;
  color: white;
  z-index: 100;
  padding: 8px 0;
  white-space: nowrap;
}

.dropdownButton:focus + .dropdownMenu {
  display: flex;
}

.dropdownButton:focus {
  pointer-events: none;
  outline: 0;
}

.dropdownMenu:hover {
  display: flex;
}

.dropdownMenu a {
  padding: 8px 16px;
}

.dropdownMenu a:hover {
  background-color: rgba(0,0,0,0.1);
}

/* Responsive Layout */
@media (max-width: 1000px) {
  .navigationList :global(.fa):not(.fa-caret-down) {
    display: none !important;
  }
}

@media (max-width: 850px) {
  .banner .title {
    display: none;
  }

  .banner {
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  .navigation a {
    padding: 5px;
  }
}
