@import '../../../variables.css';

.title {
  margin: 0;
  display: inline-block;
}

.sortLabel {
  margin-left: 20px;
}

.topBar {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.newPostButton {
  margin-left: auto;
}
