{% extends 'base-logged-in.njk' %}
{% set state = 'home' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/styles/home.css">
<script src="/scripts/home.js"></script>
{% endblock extra_head %}

{% block content %}
<section class="new-post">
  <form novalidate>
    <div class="new-post-top-bar">
      <h2 id="new-post-header">New Post</h2>
      <button class="trim-button small-button" type="button" id="close-new-post-button">Close</button>
    </div>
    <input type="text" id="new-post-title" placeholder="Title" maxlength="100" required>
    <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" maxlength="10000" placeholder="Content" id="new-post-content"></textarea>
    <ul class="error-list"></ul>
    {# <input type="file" value="Add file"> #}
    <button class="trim-button submit-button-small" id="submit-button">Submit</button>
    <a id="formatting-help-button" href="javascript: void 0;">Formatting Help</a>
    <div id="formatting-help">
      <p>You can use Github-flavoured <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> for formatting. See below for some basics, or use <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">the Markdown Cheatsheet</a> for a quick and easy reference.</p>
      <p>Note: Use two newlines for a new paragraph.</p>
      <table>
        <thead>
          <th>You type:</th>
          <th>You see:</th>
        </thead>
        <tbody>
          <tr>
            <td>*italics*</td>
            <td><em>italics</em></td>
          </tr>
          <tr>
            <td>**bold**</td>
            <td><b>bold</b></td>
          </tr>
          <tr>
            <td>[Sydney Boys High School!](http://www.sydneyboyshigh.com)</td>
            <td><a href="http://www.sydneyboyshigh.com">Sydney Boys High School!</a></td>
          </tr>
          <tr>
            <td>* item 1<br>* item 2<br>* item 3</td>
            <td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td>
          </tr>
          <tr>
            <td>&gt; quoted text</td><td><blockquote>quoted text</blockquote></td>
          </tr>
          <tr>
            <td># Large Header</td>
            <td><h1>Large Header</h1></td>
          </tr>
          <tr>
            <td>### Small header</td>
            <td><h3>Small header</h3></td>
          </tr>
          <tr>
            <td>
              <pre>
| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
              </pre>
            </td>
            <td>
              <table>
                <thead>
                  <tr>
                    <th>Tables</th>
                    <th style="text-align:center">Are</th>
                    <th style="text-align:right">Cool</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>col 3 is</td>
                    <td style="text-align:center">right-aligned</td>
                    <td style="text-align:right">$1600</td>
                  </tr>
                  <tr>
                    <td>col 2 is</td>
                    <td style="text-align:center">centered</td>
                    <td style="text-align:right">$12</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</section>
<section class="latest-news">
  <div class="top-bar">
    <h2 id="latest-news-header">Latest News</h2>
    <label class="sort-label" for="posts-sort">Sort by:</label>
    <select class="posts-sort" id="posts-sort">
      <option value="new" selected>New</option>
      <option value="old">Old</option>
      <option value="top">Top</option>
    </select>
    <button type="button" id="new-post-button" class="trim-button small-button"><i class="fa fa-plus" aria-hidden="true"></i>New Post</button>
  </div>
  <p class="latest-news-message">Loading...</p>
  {# <article class="news-item">
  <h3 class="news-item-author">Sidney Pham</h3>
  <h3 class="news-item-title">Add a Calendar</h3>
  <h4 class="news-item-date-and-likes"><time title="Fri, 25 Aug 2017 22:49:58 GMT" datetime="2017-08-25T22:49:58.832Z">4 hours ago</time></h4>
  <div class="news-item-content"><p>123</p></div>
  <div class="news-item-actions">
    <ul>
      <li><a href="">Like</a></li>
      <li><a href="">Edit</a></li>
      <li><a href="">Delete</a></li>
    </ul>
  </div>
</article> #}
</section>
{% endblock content %}
