{% extends 'base-logged-in.njk' %}
{% set state = 'home' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/styles/home.css">
{% endblock extra_head %}

{% block content %}
<section class="new-post">
  <article>
    <h2>New Post</h2>
    <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" placeholder="News time!"></textarea>
    <input type="file" value="Add file">
    <button class="trim-button submit-button-small">Submit</button>
  </article>
</section>
<section class="latest-news">
  <h2>Latest News</h2>
  <article class="news-item">
    <h3 class="news-item-author">Ram Kaniyur</h3>
    <h3 class="news-item-title">Sports dev is the best sport!</h3>
    <h4 class="news-item-date">10:02am 2nd Jan, 2018</h4>
    <div class="news-item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In motu et in statu corporis nihil inest, quod animadvertendum esse ipsa natura iudicet? Quid est igitur, cur ita semper deum appellet Epicurus beatum et aeternum? Est autem etiam actio quaedam corporis, quae motus et status naturae congruentis tenet; Quae sequuntur igitur? At iam decimum annum in spelunca iacet. Quae similitudo in genere etiam humano apparet.</p>
    </div>
  </article>
  <article class="news-item">
    <h3 class="news-item-author">Dallas Yan</h3>
    <h3 class="news-item-title">Sailing is the best sport!</h3>
    <h4 class="news-item-date">10:01am 1st Jan, 2018</h4>
    <div class="news-item-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In motu et in statu corporis nihil inest, quod animadvertendum esse ipsa natura iudicet? Quid est igitur, cur ita semper deum appellet Epicurus beatum et aeternum? Est autem etiam actio quaedam corporis, quae motus et status naturae congruentis tenet; Quae sequuntur igitur? At iam decimum annum in spelunca iacet. Quae similitudo in genere etiam humano apparet.</p>
    </div>
  </article>
</section>
{% endblock content %}
