{% extends 'base-logged-in.njk' %}
{% set state = 'home' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/styles/home.css">
<script src="/scripts/home.js"></script>
<script src="/scripts/fetch.min.js"></script>
{% endblock extra_head %}

{% block content %}
<section class="new-post">
  <form novalidate>
    <h2 id="new-post-header">New Post</h2>
    <input type="text" id="new-post-title" placeholder="Title" required>
    <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" maxlength="10000" placeholder="Content" id="new-post-content" required></textarea>
    <ul class="error-list"></ul>
    {# <input type="file" value="Add file"> #}
    <button class="trim-button submit-button-small" id="submit-button">Submit</button>
  </form>
</section>
<section class="latest-news">
  <h2 id="latest-news-header">Latest News</h2>
</section>
{% endblock content %}
