{% extends 'base-logged-in.njk' %}
{% set fullName = edit_user.first_name + ' ' + edit_user.surname %}

{% block title %}{{ fullName }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/styles/profile.css">
<script src="/scripts/profile.js"></script>
{% endblock extra_head %}

{% block content %}
<form id="edit-user-form" action="{{ '/user/' + edit_user.id }}" method="post" novalidate>
  <h2>{{ fullName }}</h2>
  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name" placeholder="Required" value="{{ edit_user.first_name }}" maxlength="30" required>
  <label for="surname">Surname</label>
  <input type="text" name="surname" id="surname" placeholder="Required" value="{{ edit_user.surname }}" maxlength="30" required>
  <label for="email">Email</label>
  <input type="email" name="email" id="email" placeholder="" value="{{ edit_user.email }}">
  <label for="phone">Phone</label>
  <input type="tel" name="phone" id="phone" placeholder="" value="{{ edit_user.phone }}">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="" value="{{ edit_user.password }}">
  <label for="student-id">SBHS ID</label>
  <input type="text" name="student_id" id="student-id" placeholder="" value="{{ edit_user.student_id }}">
  <label for="user-level">Account Level</label>
  <select class="user-level-dropdown" id="user-level" name="user_level">
    <option value="regular" {{ 'selected' if edit_user.user_level == 'regular' }}>regular</option>
    <option value="admin" {{ 'selected' if edit_user.user_level == 'admin' }}>admin</option>
  </select>
  {# <input type="text" name="user_level" id="user-level" placeholder="" value="{{ edit_user.user_level }}"> #}
  <label for="account-disabled">Account Disabled</label>
  <input type="checkbox" name="is_disabled" id="account-disabled" value="true" placeholder="" {{ 'checked' if edit_user.is_disabled }}>
  <ul class="error-list"></ul>
  <a href="/manage" class="back-button">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>Back
  </a>
  <button type="submit" class="trim-button submit-button">Save</button>
</form>
{% endblock %}
