.new-post #new-post-header {
  margin: 0 0 20px 0;
}

.new-post #new-post-title {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
}

.new-post #new-post-content {
  max-width: 100%;
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.new-post #new-post-content:focus {
  height: 100px;
}

#formatting-help-button {
  color: black;
  display: inline-block;
  vertical-align: bottom;
  text-decoration: underline;
  margin-left: 0.5em;
}

#formatting-help {
  display: none;
  margin-top: 15px;
  border-top: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

#formatting-help h1, #formatting-help h3 {
  margin: 0;
}

#formatting-help blockquote {
  margin-bottom: 0;
}

#formatting-help thead tr {
  background-color: aliceblue;
  text-align: center;
}

#submit-button {
  display: inline-block;
}

.news-item {
  /* Azure, bisque, lightpink, #ffaaaa/mistyrose, aliceblue */
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-item-author, .news-item-title, .news-item-date-and-likes {
  margin: 0;
}

.news-item-date-and-likes *:not(:first-child) {
  border-left: 1px solid darkgrey;
}

.news-item-likes {
  display: inline-block;
  padding-right: 5px;
}

.news-item-date {
  padding-left: 5px;
}

.news-item-author {
  font-size: 25px;
  float: right;
}

.news-item-title {
  font-size: 25px;
}

.news-item-date-and-likes {
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 5px;
  border-bottom: 1px solid darkgrey;
}

.news-item-actions ul {
  list-style-type: none;
  margin: 10px 0 0;
  padding: 0;
}

.news-item-actions li {
  display: inline-block;
  margin-right: 0.5em;
}

.news-item-actions a {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  background-color: white;
}

.news-item-actions a:hover {
  text-decoration: underline;
}

.latest-news #latest-news-header {
  margin: 30px 0 20px;
}

blockquote {
  margin: 0 0 16px 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5
}

.news-item-actions .fa {
  margin-right: 0.5em;
}

.action-like-liked i {
  color: red;
}
