#start-form h2 {
  font-size: 50px;
  margin: 0;
}

#start-form h3 {
  font-weight: lighter;
}

#start-form input {
  width: 100%;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
}

#start-form label {
  display: inline-block;
  margin-bottom: 3px;
}

#start-form .invalid {
  border: 1px solid indianred;
}

.submit-button {
  margin-top: 50px;
}
