* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #362018;
}

button .fa {
  margin-right: 10px;
}

/* -------------------------------------------------------------------------- */
/* Header */
/* -------------------------------------------------------------------------- */
header {
  background-color: #194f73;
  display: flex;
  align-items: center;
}

#sbhs-crest {
  height: 60px;
  margin: 10px 30px;
}

#title {
  font-size: 35px;
  color: white;
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* Buttons */
/* -------------------------------------------------------------------------- */

.sbhs-button {
  width: 70%;
  height: 60px;
  border: 0;
  font-size: 25px;
  margin: 0 auto 30px;
}

/* Transition adapted from http://ianlunn.github.io/Hover/ */
/* To use, add another class specifying width, height, font-size and anything else.*/
.trim-button {
  background-color: #194f73;
  color: white;
  display: block;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: inset 0 0 0 2px #194f73, 0 0 1px transparent;
}

.trim-button:hover {
  color: #194f73;
  background-color: white;
  cursor: pointer;
}

.text-button {
  border: 0;
  background-color: initial;
  font-size: 18px;
  text-decoration: underline;
}

.text-button > i {
  text-decoration: none;
}

.text-button:hover {
  cursor: pointer;
  text-decoration: none;
}

.submit-button {
  font-size: 20px;
  width: 150px;
  height: 50px;
  border: 0;
  margin: 0 auto 5px;
}

input:not([type="file"]), table, td, th {
  border: 1px solid darkgrey;
}
