@import '../../../variables.css';

.roster {
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}

.eventName {
  font-size: 24px;
  margin: 0;
}

.date, .location {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}

.boatsTable td, .boatsTable th {
  padding: 10px;
  text-align: center;
}

.actionsBar {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.actionsBar li {
  display: inline-block;
  margin-right: 0.5em;
}

.actionsBar button {
  border: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  background-color: white;
}

.actionsBar button:hover {
  text-decoration: underline;
  cursor: pointer;
}
